@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|PT+Sans+Narrow');

/* Estilos generales*/
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
/*Estilsos del cuerpo*/
body{
    margin:0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* Estilos del h*/
h1,h2,h3,h4,h5,h6{
    font-family: 'PT Sans Narrow', sans-serif;
    letter-spacing: 1.5px;
}
.section_titu {
  text-align: center;
  font-size: 40px;
  color: #161A3F;
}
.contenedor {
  margin: auto;
  width: 99%;
}
/*     Estilos del header     */
.header{
    height: 60px;
}
.header .contenedor{
    display: flex;
    justify-content: space-between;
}
.logo, .icon-menu{
    margin: 5px;
    color: #fff;
}
.icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #161A3F;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
/*     Estilos del Menú     */
.nav {
  position: absolute;
  top: 60px;
  left: -100%;
  width: 100%;
  transition: all 0.4s;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
    display: block;
    padding: 15px;
    background: #161A3F;
    color: #fff;
    text-decoration: none;
}
.link:hover, .select{
    background: white;
    color: #161A3F;
}
.mostrar{
    left: 0;
}

/*     Estilos del Banner     */

.banner {
  margin-top: -60px;
  position: relative;
  z-index: -1000;
  margin-bottom: 20px;
}

.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #fff;
  text-align: center;
}
.banner_txt{
    display: none;
}
/*     Estilos del Info     */
.info_columna{
    background: #161A3F;
    color:#fff;
    padding: 15px;
    margin-bottom: 30px;
    
}
/*     Estilos del Otro     */
.otros_columna{
    position: relative;
    margin-bottom: 30px;
}
.otros_descrip{
    position: absolute;
    top: 0;
    left:0;
    color: #fff;
    background:  rgba(0,0,0,0.5);
    width: 60%;
    height: 100%;
    padding: 5px;
}
.otros_titu{
    font-size: 25px;
    margin: 5px 0;
}
.otros_img{
     width: 100%;
}
/*     Estilos del Footer     */

.footer{
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.footer .social [class^="icon-"]{
    display: inline-block;
    color:#333;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}
/*     Estilos Responsive     */
@media(min-width:480px){
    .logo{
        font-size: 40px;
    }
    .banner_titu{
        font-size: 30px;
        margin: 5px 0;
    }
    .banner_txt{
        display: block;
        font-size: 18px;
        margin: 7px 0;
    }
    .info, .otros{
        display: flex;
        justify-content: space-between;
        margin-top: -90px;
    }
    .info_columna{
        width: 32%;
    }
    .info_titu{
        font-size: 30px;
        margin: 5px 0;
    }
    .section_titu{
        width: 100%;
    }
    .otros{
        flex-wrap: wrap;
        margin-top: 0px;
    }
    .otros_titu{
        width: 100%;
    }
    .otros_columna{
        width: 49%;
    }
    .footer .social [class^="icon-"]{
        margin: 0 10px;
    }
}
@media(min-width:768px){
    .banner_titu{
        font-size: 50px;
    }
    .otros_titu{
        font-size: 40px;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1000px;
    }
    .section_titu{
        font-size: 50px;
        margin: 30px 0;
    }
    .nav{
        position: static;
        width: auto;
    }
    .menu{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .select{
    color: #fff;
    background: #161A3F;
    }
    .banner_titu{
        font-size: 60px;
    }
    .banner_txt{
        font-size: 25px;
    }
    .info{
        margin-top: -120px;
    }
    .info_columna{
        padding: 30px;
    }
    .info_titu{
        font-size: 40px;
    text-align: center;
    }
    .otros_descrip{
        padding: 20px;
    }
    .otros_titu{
        font-size: 50px;
    }
    .otros_txt{
        font-size: 20px;
    }
}
@media(min-width:1280px){
    .contenedor{
        width: 1200px;
    }
    .logo{
        font-size: 60px;
    }
    .banner .contenedor{
        top: 40%;
    }
    .info{
        margin-top: -220px;
    }
}